<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <center>
        <h1>Email Verification</h1>
        
        <div class="col-lg-8 form-inner-cont">
            <form action="/otp/" method="post" class="signin-form">
                {% csrf_token %}
                {{msg}}
                <!-- Cross Site Request Forgery -->
                <div class="form-grids">
                    <div class="form-input">
                        <input type="text" name="u_otp" id="w3lName" placeholder="OTP Enter karo!!"
                            required="" />
                    </div>
                </div>
               <br>
                <div class="text-center">
                    <button type="submit" class="btn btn-style btn-primary">Verify Email</button>
                </div>
            </form>
        </div>
    </center>
</body>
</html>